.centrado {
  display: block;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.altura-fija {
  height: 100px;
}

/* ---------------------------------------------------------------------------------- */
.navbol {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 25;
  background-color: #0000008f;
}

.fontbolnav {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: lighter;
  font-size: medium !important;
  color: rgb(255, 255, 255);
}

.fontbolnav:hover {
  color: rgb(255, 255, 255);
}

.no-hover:hover {
  transform: none;
  box-shadow: none;
}

.carousel-caption-demo {
  top: 40%; /* Ajusta este valor según lo necesites */
  bottom: auto;
  transform: translateY(0);
}

.texto-principal-crr {
  font-size: 80px;
  font-weight: lighter;
}

.quitar-radius {
  border-radius: 0 !important;
}

.boton-inicio {
  border-radius: 0 !important;
  margin-top: 15px;
  width: 220px;
  height: 220px;
  align-items: center;
}
.boton-inicio:hover {
  border-radius: 0 !important;
  margin-top: 15px;
  color: white !important;
  background-color: rgb(55, 145, 55) !important;
}

.aparecer {
  opacity: 0;
  transform: translateY(50px); /* Empieza más abajo */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.aparecer.visible {
  opacity: 1;
  transform: translateY(0); /* Se mueve a su posición normal */
}
/* ---------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */

/*
    DEMO STYLE
*/

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a,
a:hover,
a:focus {
  font-family: "Poppins", sans-serif !important;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  height: calc(100% - 89.375px);
}

@media (max-width: 768px) {
  /* Ajusta el tamaño máximo según tu necesidad */
  .wrapper-foro {
    display: flex;
    height: calc(100% - 89.375px);
  }

  .area-row {
    height: 200px;
  }
}

/* Altura de 100% en pantallas medianas y grandes */
@media (min-width: 769px) {
  .wrapper-foro {
    display: flex;
    height: calc(100% - 89.375px);
  }

  .area-row {
    height: 200px;
  }
}

#sidebar {
  width: 400px;
  background: #ffffff;
  color: #000000;
  transition: all 0.3s;
  border-right: solid 1px #000000;
}

#sidebar.active {
  margin-left: -393px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #ffffff;
}

.btn-tab {
  border-radius: 0 !important;
  padding: 5px !important;
  background-color: #2d3e64 !important;
  transition: right 0.3s ease;
  border: 0px !important;
}

#sidebar2 {
  width: 1000px;
  background: #0c3153;
  color: #000000;
  transition: all 0.3s;
  border-right: solid 1px #000000;
}

#sidebar2.active {
  margin-left: -977px;
}

#sidebar2 .sidebar-header {
  padding: 20px;
  background: #ffffff;
}

#content {
  width: 100%;
  transition: all 0.3s;
}

/* ------------------------------------------- */

#map {
  height: 100vh; /* Asegura que el mapa ocupe toda la altura de la pantalla */
  z-index: 1; /* Mapa tendrá un z-index menor al de la navbar */
}

.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label,
.input:focus {
  color: #05060fc2;
}
