.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000046;
    padding: 20px;
    font: condensed 120% sans-serif;
    color: white;    
}
.banner h1 {
    margin: 0;
    font-size: 70px;
    text-align: center;
}
.banner img {
    max-width: 100px;
    height: auto;
}
.banner2 {
    width: 100%; /* Ancho del banner al 100% del ancho de la ventana del navegador */
    text-align: center; /* Centrado del contenido */
}

.banner2 img {
    width: 100%; /* Ancho de la imagen al 100% del ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}
#map { height: 600px; 
    width: 100%; 
}

.selectopciones {
    width: 60%; /* Ancho del select */
    max-width: 400px; /* Máximo ancho para evitar que sea muy grande */
    height: 50px; /* Altura del select */
    padding: 10px; /* Relleno interno */
    border: 2px solid black; /* Borde negro */
    border-radius: 0; /* Bordes cuadrados */
    background-color: white; /* Color de fondo */
    font-size: 0.8em; /* Tamaño de la fuente */
    box-sizing: border-box; /* Incluye el padding y borde en el tamaño total */
}

#hotelSelect option {
    padding: 10px; /* Relleno interno para las opciones */
}
#foodSelect option {
    padding: 10px; /* Relleno interno para las opciones */
}
#tourismSelect option {
    padding: 10px; /* Relleno interno para las opciones */
}

nav {
    background-image: url('images/tarjetas.png');
}
.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-flex;
    justify-content: flex-end;
}
.rating input {
    display: none;
}
.rating label {
    font-size: 2em;
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s;
}
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}
footer {
    
    background-color: #070272;
    color: white;
}
h2 {
    font-size: 15px;
}

.card {
    width: 18rem;
    background-image: url('images/turismo.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-color: rgba(255, 255, 255, 0.1);
    background-size: cover; /* Asegura que la imagen cubra toda la tarjeta */
    background-position: center; /* Centra la imagen */
    border: 2px solid #343a40; /* Borde negro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.2s, box-shadow 0.2s; /* Transición para hover */
    color: black; /* Color del texto en blanco */
}
.card:hover {
    transform: scale(1.05); /* Escala la tarjeta en hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más grande en hover */
}

.card .card-title {
    font-size: 1.5em; /* Tamaño de la fuente del título */
    color: black; /* Color del título */
}

.card .card-subtitle {
    font-size: 1.2em; /* Tamaño de la fuente del subtítulo */
    color: #d3d3d3; /* Color del subtítulo */
}

.card .card-text {
    font-size: 1em; /* Tamaño de la fuente del texto */
    color: black; /* Color del texto */
}

.card .card-link {
    font-size: 1em; /* Tamaño de la fuente de los enlaces */
    color: #ffc107; /* Color de los enlaces */
}

.card .card-link:hover {
    color: #ff9800; /* Color de los enlaces en hover */
}
/* Estilos personalizados para el botón */
.btn-custom {
    background-color: white; /* Relleno blanco */
    border: 2px solid black; /* Borde negro */
    color: black; /* Texto negro */
    padding: 10px 10px; /* Espaciado interior para que sea cuadrado */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Inline block para dimensiones */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de mano en hover */
    border-radius: 0; /* Sin bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para hover */
    padding: 40px 80px;
}

.btn-custom:hover {
    background-color: black; /* Fondo negro en hover */
    color: white; /* Texto blanco en hover */
}
/* Estilos personalizados para el botón de guardar calificación */
.btn-custom-save {
    background-color: white; /* Relleno blanco */
    border: 2px solid black; /* Borde negro */
    color: black; /* Texto negro */
    padding: 5px 100px; /* Espaciado interior más grande para aumentar el tamaño del botón */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Inline block para dimensiones */
    font-size: 12px; /* Tamaño de fuente más grande */
    cursor: pointer; /* Cursor de mano en hover */
    border-radius: 0; /* Sin bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para hover */
}

.btn-custom-save:hover {
    background-color: black; /* Fondo negro en hover */
    color: white; /* Texto blanco en hover */
}
/* Estilos personalizados para el botón de ver lugares */
.btn-custom-places {
    background-color: white; /* Relleno blanco */
    border: 2px solid black; /* Borde negro */
    color: black; /* Texto negro */
    padding: 20px 100px; /* Espaciado interior más grande para aumentar el tamaño del botón */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Inline block para dimensiones */
    font-size: 12px; /* Tamaño de fuente más grande */
    cursor: pointer; /* Cursor de mano en hover */
    border-radius: 0; /* Sin bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para hover */
}

.btn-custom-places:hover {
    background-color: black; /* Fondo negro en hover */
    color: white; /* Texto blanco en hover */
}

