{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
        <div class="w3-rest ">
            <div class="w3-container w3-card rounded-4">
                <div class="w3-container w3-center mb-2">
                    <h3 class="w3-text-white"><b>CONTROL DE EMPLEADOS</b></h3>
                </div>
            </div>
        </div>

        <!-- Left Column -->
        <div class="w3-quarter ">
            <div class="w3-white w3-text-grey w3-card-4 rounded-4">
                <div class="w3-display-container centrado w3-center ">
                    <img class="mt-2" src="{% static '/img/avatar2.jpg' %}" style="width:85%" alt="Avatar">
                </div>
                <div class="w3-container w3-text-black">
                    <h2>{{ usuario.first_name }} {{ usuario.last_name }}</h2>
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-user fa-fw w3-margin-right w3-xlarge w3-text-purple  "></i>{{ usuario.username }}
                    </p>
                    <p><i class="fa fa-at fa-fw w3-margin-right w3-xlarge w3-text-purple"></i>{{ usuario.email }}</p>
                    <p><i class="fa fa-calendar fa-fw w3-margin-right w3-xlarge w3-text-purple"></i>{{ usuario.fec_nac}}
                    </p>
                    <br>

                </div>
            </div><br>

        </div>
        <div class="w3-rest">
            <div class="mb-2 w3-container w3-card w3-white rounded-4">
                :{{ mensaje|linebreaks }}
            </div>
        </div>
        <div class="w3-rest">
            <div class="w3-container w3-card w3-white rounded-4">
                <div class="w3-container">
                    <div class="mt-2 w3-center">
                        <button id="exportarBtn" class="btn btn-success btn-lg"> <i
                                class="fa fa-file-excel-o"></i></button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-light" id="empleados">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido(s)</th>
                                    <th>Fec. Nacimiento</th>
                                    <th>Correo</th>
                                    <th>Salario</th>
                                    <th>pago/mes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for empleado in empleados %}
                                <tr>
                                    <td>{{ empleado.id }}</td>
                                    <td>{{ empleado.first_name }}</td>
                                    <td>{{ empleado.last_name }}</td>
                                    <td>{{ empleado.fec_nac }}</td>
                                    <td>{{ empleado.email }}</td>
                                    <td>{{ empleado.salario }}</td>
                                    <td>
                                        <form action="{% url 'calcular' empleado.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="w3-center"><button type="submit"
                                                    class="btn btn-outline-dark btn-sm">Calcular</button></div>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#empleados').DataTable({
            "paging": true,
            "ordering": true,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json",
            },
        });
        $('#exportarBtn').on('click', function () {
            window.location.href = "{% url 'exportar_excel' %}";
        });
    });
</script>
<footer class="w3-container w3-deep-purple w3-center w3-margin-top">
    <br>
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <br><br>
</footer>

{% endblock %}