{% extends 'base.html' %} {% block content %}
{% load static %}


<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Opciones de busqueda</h3>
        </div>

        <div class="text-center m-3">
            <h4>Ejemplo de opcion</h4>
        </div>
        <div class="m-3">
            <input type="checkbox" id="checkbox"> <label for="checkbox">Permitir selección de punto</label>
        </div>
        <div class="m-3">
            <select name="select-location" id="select-location">
                <option value="-1">Seleccione un lugar</option>
                <option value="-17.951367760239243, -67.1108950693493">Plaza Sebastian Pagador</option>
                <option value="-17.961654, -67.110700">Parque de la Union</option>
                <option value="-17.969829647594043, -67.11461519634534">Plaza principal</option>
            </select>

        </div>
        <div>
            <p style="color: black; position: absolute; bottom: 0;" class="m-2">Usuario actual: {{ usuario.username}}
            </p>
        </div>

    </nav>
    <button type="button" id="sidebarCollapse" class="btn btn-tab">
        <i id="icon" class="fas fa-arrow-circle-left"></i>
    </button>

    <div id="content">
        <div id="map"></div>
    </div>
</div>


{% endblock %}