{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="border col-md-4 col-lg-4 col-xl-4 container-fixed-left">
            
            <div class="text-center m-4">
<h1>Aqui iran las opciones del usuario</h1>
            </div>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-8 col-lg-8 col-xl-8">
            <!-- Contenido principal de la página -->
            <p>Contenido principal</p>
        </div>
    </div>
</div>

{% endblock %}