{% extends 'base.html' %} {% block content %}
{% load static %}


<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Opciones de busqueda</h3>
        </div>

        <div class="text-center m-3">
            <h4>Ejemplo de opcion</h4>
        </div>
    </nav>
    <button type="button" id="sidebarCollapse" class="btn btn-tab">
        <i id="icon" class="fas fa-arrow-circle-left"></i>
    </button>

    <div id="content">
        <div id="map"></div>
        <script>
            var map = L.map('map').setView([-17.958061, -67.097791], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            L.marker([-17.958061, -67.097791]).addTo(map)
                .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
                .openPopup();
        </script>
    </div>
</div>
{% endblock %}