{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div style="color: white; background-image: linear-gradient(to right, #6d0606, #691e00, #632d00, #5d3800, #564200, #514700, #4a4d00, #425200, #3b5500, #315800, #245b00, #0e5e02);"
            class="sidebar-header text-center">
            <h3>Planificacion</h3>
        </div>

        <div style="height: 100%; background-image: linear-gradient(to bottom, #f8d1d1, #ffd6cd, #ffdcc9, #ffe3c7, #ffebc6, #fbefc6, #f5f3c7, #eff7c9, #e6f7ca, #dcf8cd, #d3f8d0, #c9f8d4);"
            class="controls p-3">
            <div>
                <div>
                    <h5>Hoteles</h5>
                </div>
                <select class="form-select mb-4" id="hotelSelect" aria-label="Default select example">
                    <option value="-17.96557445732872, -67.10635546869543">Hostal Graciela</option>
                    <option value="-17.96236147092776, -67.10278318404016">Hotel Glorioso</option>
                    <option value="-17.962245388504577, -67.10661148774666">Gran Hotel Bolivia</option>
                    <option value="-17.969128960958876, -67.11433118959974">Hotel Plaza</option>
                    <option value="-17.966435243509885, -67.11511642884702">Hotel Briggs</option>
                    <option value="-17.966999837934388, -67.11797146632333">Hotel Virgen del Socavon</option>
                    <option value="-17.969679495368712, -67.11468300546305">Solárium Restaurante Hotel Edén</option>
                    <option value="-17.97066614215071, -67.11287912028908">Hotel Houston</option>
                    <option value="-17.96133155320207, -67.10812583378078">Residencial Hinojosa</option>
                    <option value="-17.97079249639655, -67.11288998959968">Hotel Sucre Palace</option>
                    <option value="-17.9710297289956, -67.11040125520366">Gran Hotel Galaxia</option>
                    <option value="-17.96796209935517, -67.10727228033335">Hotel Monarca</option>
                </select>
            </div>
            <div>
                <div>
                    <h5>Restaurante</h5>
                </div>
                <select class="form-select mb-4" id="foodSelect" aria-label="Default select example">
                    <option value="-17.970316344905434, -67.11377867610823">Restaurante El Negrito</option>
                    <option value="-17.96870930117551, -67.11460981164859">La Casona</option>
                    <option value="-17.973590414724292, -67.1109544668418">Restaurant Nayjama</option>
                    <option value="-17.97040545305779, -67.11318575768243">Factory Xpress</option>
                    <option value="-17.969960995628657, -67.11012398774643">Restaurant Pagador</option>
                    <option value="-17.97176463310805, -67.11167180731627">Restarurant Vegetariano Govinda</option>
                    <option value="-17.96918993343915, -67.11670964541871">Bravo's Pizza</option>
                    <option value="-17.95126278008152, -67.10876464048772">Charquekan Orureño "El Puente"</option>
                    <option value="-17.96550514868362, -67.10527572080795">Churrasqueria Santa Brasa</option>
                    <option value="-17.964040814872025, -67.10047047743406">dori pollo oruro</option>
                    <option value="-17.96494390601734, -67.11024889908734">super hamburguesas oruro</option>
                    <option value="-17.962150621053368, -67.10382486932191">Restaurant El Fogón</option>
                    <option value="-17.96362586649361, -67.11157757054858">Rancheria Oruro</option>
                </select>
            </div>
            <div>
                <div>
                    <h5>Lugares turisticos</h5>
                </div>
                <select class="form-select mb-4" id="tourismSelect" aria-label="Default select example">
                    <option value="-17.981218340991997,-67.12250936960811">Museo Nacional Antropológico Eduardo
                        López
                        Rivas
                    </option>
                    <option value="-17.967538060592556,-67.1123490626169">Museo Simón I. Patiño</option>
                    <option value="-17.967171985345495,-67.11886950750217">Museo Sacro del Santuario del Socavón
                    </option>
                    <option value="-17.990566057353647,-67.13706274727136">Museo Mineralógico</option>
                    <option value="-17.971544164910565,-67.1017033147293">Casa Arte Taller Cardozo Velasquez Oruro
                    </option>
                    <option value="-17.964236861414186,-67.112514718436">Museo Diocesano San Miguel Oruro</option>
                    <option value="-17.974403851760847,-67.12051834727194">Estación Superior Teleférico Turístico
                    </option>
                    <option value="-17.98096464920422,-67.12270221843559">Museo Arqueológico</option>
                    <option value="-17.97671444617219,-67.13986746261656">Esculturas Plaza Chiripujio</option>
                </select>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success btn-lg" id="generateRoute">Generar Ruta</button>
            </div>
            <div>
                <p style="color: black; position: absolute; bottom: 0;" class="m-2">Usuario actual:
                    {{usuario.username}}
                </p>
            </div>
        </div>

    </nav>
    <button type="button" id="sidebarCollapse" class="btn btn-tab">
        <i id="icon" class="fas fa-arrow-circle-left"></i>
    </button>

    <div id="content">
        <div style="height: 100%;" id="map"></div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbol" style="justify-content:space-around;">
    <div class="container-fluid mx-1">
        </button>
    </div>
</nav>

<div class="banner2">
    <img src="{% static '/img/generaruta/baner2.png' %}" alt="">
</div>

<nav class="navbar navbar-expand-lg navbol" style="justify-content:space-around;">
    <div class="container-fluid mx-1">
        </button>
    </div>
</nav>

<div class="container-fluid"
    style="background-image: linear-gradient(to right, #6d0606, #691e00, #632d00, #5d3800, #564200, #514700, #4a4d00, #425200, #3b5500, #315800, #245b00, #0e5e02);">
    <div class="row">
        <div class="col-4 text-center">
            <div id="recommendation" class="text-center mx-4 mt-5 mb-3">
                <div class="card mx-auto" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">¿Quieres saber como llegar a algun lugar?</h5>
                        <h6 class="card-subtitle m-2 text-muted">Genera una ruta sugerida</h6>
                        <p class="card-text">¿Donde quedarme?</p>
                        <p class="card-text">¿Donde comer?</p>
                        <p class="card-text">¿Donde ir?</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-lg btn-warning" onclick="generateRandomRoute()" href="#">
                    Quiero recibir una<br>Recomendacion</a>
            </div>
        </div>
        <div class="col-4">
            <div class="container text-center">
                <h3 class="mt-3" style="color: white;">Califica el Servicio</h3>
                <div class="rating">
                    <input type="radio" id="star5_need" name="rating_need" value="5" /><label class="star"
                        for="star5_need">★</label>
                    <input type="radio" id="star4_need" name="rating_need" value="4" /><label class="star"
                        for="star4_need">★</label>
                    <input type="radio" id="star3_need" name="rating_need" value="3" /><label class="star"
                        for="star3_need">★</label>
                    <input type="radio" id="star2_need" name="rating_need" value="2" /><label class="star"
                        for="star2_need">★</label>
                    <input type="radio" id="star1_need" name="rating_need" value="1" /><label class="star"
                        for="star1_need">★</label>
                </div>
                <h5 style="color: white;">Necesidades suplidas</h5>

                <div class="rating">
                    <input type="radio" id="star5_situation" name="rating_situation" value="5" /><label class="star"
                        for="star5_situation">★</label>
                    <input type="radio" id="star4_situation" name="rating_situation" value="4" /><label class="star"
                        for="star4_situation">★</label>
                    <input type="radio" id="star3_situation" name="rating_situation" value="3" /><label class="star"
                        for="star3_situation">★</label>
                    <input type="radio" id="star2_situation" name="rating_situation" value="2" /><label class="star"
                        for="star2_situation">★</label>
                    <input type="radio" id="star1_situation" name="rating_situation" value="1" /><label class="star"
                        for="star1_situation">★</label>
                </div>
                <h5 style="color: white;">Situación favorable</h5>

                <div class="rating">
                    <input type="radio" id="star5_experience" name="rating_experience" value="5" /><label class="star"
                        for="star5_experience">★</label>
                    <input type="radio" id="star4_experience" name="rating_experience" value="4" /><label class="star"
                        for="star4_experience">★</label>
                    <input type="radio" id="star3_experience" name="rating_experience" value="3" /><label class="star"
                        for="star3_experience">★</label>
                    <input type="radio" id="star2_experience" name="rating_experience" value="2" /><label class="star"
                        for="star2_experience">★</label>
                    <input type="radio" id="star1_experience" name="rating_experience" value="1" /><label class="star"
                        for="star1_experience">★</label>
                </div>
                <h5 style="color: white;">Experiencia personal</h5>

                <div class="rating">
                    <input type="radio" id="star5_satisfaction" name="rating_satisfaction" value="5" /><label
                        class="star" for="star5_satisfaction">★</label>
                    <input type="radio" id="star4_satisfaction" name="rating_satisfaction" value="4" /><label
                        class="star" for="star4_satisfaction">★</label>
                    <input type="radio" id="star3_satisfaction" name="rating_satisfaction" value="3" /><label
                        class="star" for="star3_satisfaction">★</label>
                    <input type="radio" id="star2_satisfaction" name="rating_satisfaction" value="2" /><label
                        class="star" for="star2_satisfaction">★</label>
                    <input type="radio" id="star1_satisfaction" name="rating_satisfaction" value="1" /><label
                        class="star" for="star1_satisfaction">★</label>
                </div>
                <h5 style="color: white;">Satisfacción general</h5>
                <div class="mb-3">
                    <button type="button" class="btn btn-info mt-4 btn-custom-save"
                        onclick="guardarCalificacion()">Guardar Calificación</button>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="thankYouModal" tabindex="-1" role="dialog" aria-labelledby="thankYouModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="thankYouModalLabel">Gracias</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¡Muchas gracias por tu calificación!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container text-center">
                <div class="m-4">
                    <button type="button" class="btn btn-lg btn-danger btn-custom-places"
                        onclick="mostrarLugaresRecomendados()">¡Visita hoy mismo!</button>
                </div>

                <div id="lugaresContainer" class="row">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Conoce mas</h5>
                            <p class="card-text">Espacio Publicitario</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}