{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/styles_main.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.dataTables.min.css">
    <!-- w3schools -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <!-- Fuentes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- scripts -->
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- local -->
    <script type="text/javascript" src="{% static '/js/funciones_ruta.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/sweetalert2.all.min.js' %}"></script>
    <!-- datatables -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
    <style>
        body {
            background-image: linear-gradient(to right top, #205054, #19444d, #143844, #122d3b, #102230, #122034, #191e37, #231a37, #3f193f, #5d113b, #75092e, #851717);
        }

        button {
            background-color: #ffffff;
            color: #205054;
            border: 1px solid rgb(14, 54, 39);

            height: 2em;
            font-size: 17px;
            border-radius: 0.4em;
            transition: 0.5s;
            padding-left: 5px;
            padding-right: 5px;
        }

        button:hover {
            color: white;
            background-color: #205054;
        }
    </style>
</head>

<body>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div style="margin-bottom: 114px; margin-top: 100px;" class="col-md-6 col-sm-10">
                    <div class="card border">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-2 text-center mt-3">
                                    <img src="{% static '/img/logos/logo2.png' %}" width="60" alt="">
                                </div>
                                <div class="col-10 mt-2">
                                    <p style="margin-bottom: 3px; color:#102230">Bienvenido nuevo usuario</p>
                                    <p style="margin-bottom: 0px; color:#102230">¡Vamos a registrarte!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="row">
                                    {% if error %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endif %}
                                    <div class="col-6 mb-3">
                                        <label for="nombre" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" required />
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="user" class="form-label">Usuario</label>
                                        <input type="text" class="form-control" id="user" name="user" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label for="password1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password1" name="password1"
                                            required />
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="password2" class="form-label">Repetir Password</label>
                                        <input type="password" class="form-control" id="password2" name="password2"
                                            required />
                                    </div>
                                </div>

                                <div class="row m-3">
                                    <div class="col-6 text-end">
                                        <div>
                                            <button type="submit">Registrarse</button>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <a href="/login_user/" class="btn btn-danger">No gracias</a>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                        <div style="color: rgb(20, 113, 129)" class="card-footer">
                            Politica de privacidad
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>