{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    {% csrf_token %}
    <section class="vh-100" style="background-color: #1a1631;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-8 col-md-9">
                    <div class="w3-container w3-card w3-white" style="border-radius: 1rem;">
                        <div class="w3-container w3-card w3-white row g-0">
                            <h3 class="fw-normal mx-4 mb-3 mt-4 pb-3 align-items-center" style="letter-spacing: 1px;">
                                Registrar empleado
                            </h3>
                            {{ error }}
                            <form method="POST" action="/signup/">
                                {% csrf_token %}
                                <div class="row g-0">
                                    <div class="col-md-4 col-lg-4 ml-md-3">

                                        <div class="form-outline mb-4 mx-4">
                                            <input type="text" id="username" name="username"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="username">Usuario</label>
                                        </div>

                                        <div class="form-outline mb-4 mx-4">
                                            <input type="password" id="password1" name="password1"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="password1">Password</label>
                                        </div>
                                        <div class="form-outline mb-4 mx-4">
                                            <input type="password" id="password2" name="password2"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="password2">Verficar password</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4">

                                        <div class="form-outline mb-4 mx-4">
                                            <input type="text" id="first_name" name="first_name"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="first_name">Nombre(s)</label>
                                        </div>

                                        <div class="form-outline mb-4 mx-4">
                                            <input type="text" id="last_name" name="last_name"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="last_name">Apellidos</label>
                                        </div>
                                        <div class="form-outline mb-4 mx-4">
                                            <input type="email" id="email" name="email"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="email">Correo electronico</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">

                                        <div class="form-outline mb-4 mx-4">
                                            <input type="date" id="fec_nac" name="fec_nac"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="fec_nac">Fecha de nacimiento</label>
                                        </div>

                                        <div class="form-outline mb-4 mx-4">
                                            <input type="number" step="0.01" pattern="\d+(\.\d{2})?" placeholder="0.00"
                                                name="salario" class="form-control form-control-lg" />
                                            <label class="form-label" for="salario">Salario Bs.</label>
                                        </div>
                                        <div class="form-check mt-3 mb-4 mx-4">
                                            <input type="checkbox" id="is_superuser" name="is_superuser"
                                                class="form-check-input">
                                            <label for="is_superuser" class="form-check-label">Registrar como
                                                supervisor</label>
                                        </div>
                                    </div>
                                </div>
                                <div type="submit" class="segundo pt-1 mb-4">
                                    <button class="centrado "> Registrar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>